@charset "utf-8";
/* CSS Document */

body{
	background-image:url(../img/background.png);
	background-repeat:repeat;
	background-color:black;
	color:#fff;
	}
.mainContent {
    width: 100%;
    margin: 0 auto;
	max-width:950px;
}
h1,h2{
	text-align:center;
	}
h1{
	font-family:"Courier New", Courier, monospace;
	}	
h2{
	font-family:"Courier New", Courier, monospace;
	}	
.space{
	margin-top:20px;
	padding-left:30px;
	padding-right:30px;
	}	
	
	
@media screen and (min-width: 0px){
	h1{
		font-size:20px;
	}
	h2{
		font-size:15px;
	}

}
@media screen and (min-width: 768px){
	h1{
		font-size:30px;
	}
	h2{
		font-size: 25px;
	}

}
@media screen and (min-width: 992px){
	h1{
		font-size:40px;
	}
	h2{
		font-size:35px;
	}

}
@media screen and (min-width: 1200px){
	h1{
		font-size:50px;
	}
	h2{
		font-size:45px;
	}

}

