body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color:#333;
  color:#000;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.borderBox{
	border-style: dashed;
}

  .stats{
    width:95px;
  }

  .spacing-textera{
    margin-left:10px;
  }